# MinIO credentials (used in docker-compose.yml)
# Must be at least 3 characters for MINIO_ROOT_USER and 8 characters for MINIO_ROOT_PASSWORD
MINIO_ROOT_USER=beetask123
MINIO_ROOT_PASSWORD=beetaskpassword
