# Database
DB_USER=beetask
DB_PASSWORD=beetask
DB_URL=jdbc:postgresql://localhost:5432/beetask

# Optional overrides
# QUARKUS_HTTP_PORT=8080
# QUARKUS_HTTP_CORS_ORIGINS=http://localhost:5173
# MP_JWT_VERIFY_ISSUER=https://beetech.net
# SMALLRYE_JWT_SIGN_KEY_LOCATION=privateKey.pem
# MP_JWT_VERIFY_PUBLICKEY_LOCATION=publicKey.pem
